.demo-card-square.mdl-card {
    width: 125px;
    height: 125px;
    float: left;
    margin: 10px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: #46B6AC;
}

.demo-card-square > .temp-tile-bg {
    background: #b64650;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 20px;
    background: #fafafa;
    position: relative;
}

form {
    margin: 10px;
}

.mdl-button {
    margin: 0 10 10 10;
    float: left;
}

.upfront-info {
    margin-bottom: 70px;
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    clear: both;
    z-index: 10;
}
